*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Times, serif;
    color: rgb(219, 14, 14);
    background-color: rgb(234, 208, 158);
}
.container{
    max-width: 90rem;
    margin: 2rem auto;
    padding: 0px 2rem;
}
.header{
    padding: 2rem;
    margin: 1rem 0px;
    text-align:center ;
}
.title{
    margin-bottom: 1rem;
    font-size: 55px;
}
.descr{
    font-size: 30px;
}
.tri{border-radius: 20px;
display: grid;
grid-template-columns: 2fr 1fr;
max-width: 78rem;
margin: 0px auto;
background-color: white;
color: black;
align-items: center;
padding: 0px 0px 0px 1rem;
box-shadow: 5px 5px rgb(48, 41, 41), 10px 10px rgb(71, 69, 69), 15px 15px rgb(71, 67, 67);
}
.tri blockquote{color: crimson;
    text-align: center;
    font-size: 3rem;
}
img{
    max-width: 100%;
}
.bio{
    margin: 2rem auto;
    padding: 0px 0.5px;
    max-width: 40rem;
}
.bio h2{text-align: center;
    margin-bottom: 1rem;
    font-size: 40px;
    line-height: 1.2;
}
.bio p{
    font-size: 27px;
    line-height: 1.4;
}
.bio hr{
    margin-top: 2rem;
}